---

name: Publish

on:
  push:
    branches:
      - main
    paths:
      - applications/*.json

jobs:
  parse:
    name: Parse
    runs-on: ubuntu-latest

    outputs:
      rdnn: ${{ steps.parse.outputs.rdnn }}
      version: ${{ steps.parse.outputs.version }}
      source: ${{ steps.parse.outputs.source }}
      commit: ${{ steps.parse.outputs.commit }}
      end-of-life: ${{ steps.parse.outputs.end-of-life }}
      end-of-life-rebase: ${{ steps.parse.outputs.end-of-life-rebase }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Parse
        id: parse
        uses: elementary/action-appcenter-review-parse@v1.2.5
        with:
          regex: |
            applications\/(?<rdnn>[a-zA-Z0-9\.\-\_]+)\.json

  publish:
    name: Publish
    runs-on: ubuntu-latest
    needs: parse

    strategy:
       matrix:
         arch: [x86_64, aarch64]
       # Don't fail the whole workflow if one architecture fails
       fail-fast: false

    container:
      image: ghcr.io/elementary/flatpak-platform/runtime:8-${{ matrix.arch }}
      options: --privileged

    steps:
      - name: Checkout
        run: |
          git config --global --add safe.directory /__w/appcenter-reviews/appcenter-reviews
          git clone ${{ needs.parse.outputs.source }} .
          git checkout ${{ needs.parse.outputs.commit }}

      - name: Manifest
        id: manifest
        uses: elementary/action-appcenter-review-find-manifest@v1.5.1
        with:
          rdnn: ${{ needs.parse.outputs.rdnn }}

      - name: Set up QEMU for aarch64 emulation
        if: ${{ matrix.arch != 'x86_64' }}
        uses: docker/setup-qemu-action@v3
        with:
          platforms: arm64

      - name: Build
        uses: flatpak/flatpak-github-actions/flatpak-builder@v6.4
        with:
          bundle: ${{ needs.parse.outputs.rdnn }}.flatpak
          manifest-path: ${{ steps.manifest.outputs.manifest }}
          run-tests: false
          repository-name: appcenter
          repository-url: https://flatpak.elementary.io/repo.flatpakrepo
          branch: stable
          cache-key: "flatpak-builder-${{ github.sha }}"
          arch: ${{ matrix.arch }}

      - name: Deploy
        uses: flatpak/flatpak-github-actions/flat-manager@v6.4
        with:
          repository: appcenter
          flat-manager-url: https://flatpak-api.elementary.io
          token: ${{ secrets.FLAT_MANAGER_TOKEN }}
          end-of-life: "${{ needs.parse.outputs.end-of-life }}"
          end-of-life-rebase: ${{ needs.parse.outputs.end-of-life-rebase }}
