---

name: Publish

on:
  push:
    branches:
      - main
    paths:
      - applications/**/*.json

jobs:
  parse:
    name: Parse
    runs-on: ubuntu-latest

    outputs:
      rdnn: ${{ steps.parse.outputs.rdnn }}
      version: ${{ steps.parse.outputs.version }}
      source: ${{ steps.parse.outputs.source }}
      commit: ${{ steps.parse.outputs.commit }}

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Parse
        id: parse
        uses: elementary/action-appcenter-review-parse@main

  publish:
    name: Publish
    runs-on: ubuntu-latest
    needs: parse

    container:
      image: ghcr.io/elementary/flatpak-platform/runtime:daily
      options: --privileged

    steps:
      - name: Checkout
        run: |
          git clone ${{ needs.parse.outputs.source }} .
          git checkout ${{ needs.parse.outputs.commit }}

      - name: Build
        uses: bilelmoussaoui/flatpak-github-actions/flatpak-builder@v3
        with:
          bundle: ${{ needs.parse.outputs.rdnn }}.flatpak
          manifest-path: ${{ needs.parse.outputs.rdnn }}.yml
          run-tests: false
          repository-name: appcenter
          repository-url: https://flatpak.elementary.io/repo.flatpakrepo
          branch: stable
          cache-key: "flatpak-builder-${{ github.sha }}"

      - name: Deploy
        uses: bilelmoussaoui/flatpak-github-actions/flat-manager@v3
        with:
          repository: appcenter
          flat-manager-url: https://flatpak-api.elementary.io
          token: ${{ secrets.FLAT_MANAGER_TOKEN }}
