---

name: Review

on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
    paths:
      - applications/**/*.json

jobs:
  setup:
    name: Setup
    runs-on: ubuntu-latest

    steps:
      - name: Checklist
        uses: elementary/action-appcenter-review-checklist@v1.0.0
        with:
          body: |
            ## Review Checklist

            - [ ] App opens
            - [ ] Does what it says
            - [ ] Categories match
            
            ### AppData
            - [ ] Name is unique and non-confusing
            - [ ] Matches description
            - [ ] Matches screenshot
            - [ ] Launchable tag with matching ID
            - [ ] Release tag with matching version and YYYY-MM-DD date
            - [ ] Custom colors meet WCAG A contrast or greater
            - [ ] OARS info matches
            
            ### Flatpak
            - [ ] Uses elementary runtime
            - [ ] Sandbox permissions are reasonable

  parse:
    name: Parse
    runs-on: ubuntu-latest

    outputs:
      rdnn: ${{ steps.parse.outputs.rdnn }}
      version: ${{ steps.parse.outputs.version }}
      source: ${{ steps.parse.outputs.source }}
      commit: ${{ steps.parse.outputs.commit }}

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Parse
        id: parse
        uses: elementary/action-appcenter-review-parse@v1.0.1
        with:
          regex: |
            applications\/(?<rdnn>[a-zA-Z0-9\.\-\_]+)\.json

  build:
    name: Build
    runs-on: ubuntu-latest
    needs: parse

    strategy:
      matrix:
        arch: [x86_64, aarch64]
      # Don't fail the whole workflow if one architecture fails
      fail-fast: false

    container:
      image: ghcr.io/elementary/flatpak-platform/runtime:7.1-${{ matrix.arch }}
      options: --privileged

    steps:
      - name: Checkout
        run: |
          git clone ${{ needs.parse.outputs.source }} .
          git checkout ${{ needs.parse.outputs.commit }}

      - name: Manifest
        id: manifest
        uses: elementary/action-appcenter-review-find-manifest@v1.2.0
        with:
          rdnn: ${{ needs.parse.outputs.rdnn }}

      - name: Set up QEMU for aarch64 emulation
        if: ${{ matrix.arch != 'x86_64' }}
        uses: docker/setup-qemu-action@v1
        with:
          platforms: arm64

      - name: Build
        uses: flatpak/flatpak-github-actions/flatpak-builder@v5
        with:
          bundle: ${{ needs.parse.outputs.rdnn }}.flatpak
          manifest-path: ${{ steps.manifest.outputs.manifest }}
          run-tests: false
          repository-name: appcenter
          repository-url: https://flatpak.elementary.io/repo.flatpakrepo
          branch: stable
          cache-key: "flatpak-builder-${{ github.sha }}"
          arch: ${{ matrix.arch }}
