---

name: Review

on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
    paths:
      - applications/**/*.json

jobs:
  parse:
    name: Parse
    runs-on: ubuntu-latest

    outputs:
      rdnn: ${{ steps.parse.outputs.rdnn }}
      version: ${{ steps.parse.outputs.version }}
      source: ${{ steps.parse.outputs.source }}
      commit: ${{ steps.parse.outputs.commit }}

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Parse
        id: parse
        uses: elementary/action-appcenter-review-parse@v1.2.5
        with:
          regex: |
            applications\/(?<rdnn>[a-zA-Z0-9\.\-\_]+)\.json

  build:
    name: Build (${{ matrix.configuration.arch }})
    runs-on: ${{ matrix.configuration.runs-on }}
    needs: parse

    strategy:
      matrix:
        configuration:
          - arch: x86_64
            runs-on: ubuntu-latest
          - arch: aarch64
            runs-on: ubuntu-24.04-arm
      # Don't fail the whole workflow if one architecture fails
      fail-fast: false

    container:
      image: ghcr.io/elementary/flatpak-platform/runtime:8-${{ matrix.configuration.arch }}
      options: --privileged

    steps:
      - name: Checkout
        run: |
          git config --global --add safe.directory /__w/appcenter-reviews/appcenter-reviews
          git clone ${{ needs.parse.outputs.source }} .
          git checkout ${{ needs.parse.outputs.commit }}

      - name: Manifest
        id: manifest
        uses: elementary/action-appcenter-review-find-manifest@v1.5.1
        with:
          rdnn: ${{ needs.parse.outputs.rdnn }}

      - name: Build
        uses: flatpak/flatpak-github-actions/flatpak-builder@v6.5
        with:
          bundle: ${{ needs.parse.outputs.rdnn }}.flatpak
          manifest-path: ${{ steps.manifest.outputs.manifest }}
          run-tests: false
          repository-name: appcenter
          repository-url: https://flatpak.elementary.io/repo.flatpakrepo
          branch: stable
          cache-key: "flatpak-builder-${{ github.sha }}"
          arch: ${{ matrix.configuration.arch }}
